<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <!-- FILE -->
  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${huahin.home}/log/huahin-manager.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyy-MM-dd} %d{ABSOLUTE} %-5p [%t] %c{1}: %m%n"/>
    </layout>
  </appender>

  <!-- STDOUT -->
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="ERROR"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyy-MM-dd} %d{ABSOLUTE} %-5p [%t] %c{1}: %m%n"/>
    </layout>
  </appender>

  <root>
    <level value="WARN"/>
    <appender-ref ref="FILE"/>
<!--
    <appender-ref ref="STDOUT"/>
-->
  </root>
</log4j:configuration>
